<div class="row">
	<div class="col s12">
		<h1>SMS enviado correctamente</h1>

		<h4>Mensaje enviado</h4>
		<p><%= msg %></p>

		<h4>Destinatario</h4>
		<p><%= cellnumber %></p>

		<% if (bodyextra) { %>
			<h2>Parte del mensaje no enviado</h2>
			<p><%= bodyextra %></p>
		<% } %>

		<h4>Cr&eacute;dito actual</h4>
		<p>$<%= credit %></p>


		<h4>N&uacute;mero de SMS restantes</h4>
		<%= poolleft %><br/>
		<small>Cuando se acaben los SMS del banco, habr&aacute; que esperar al pr&oacute;ximo Lunes para enviar.</small>
	</div>
</div>



